@import 'node_modules/@iqss/dataverse-design-system/src/lib/assets/styles/design-tokens/colors.module';

.container {
  display: inline-flex;
  align-items: center;
  margin: 0 3px;
  padding: 0;
  border: 0;
  background: transparent;
  color: inherit;
  font: inherit;
  cursor: pointer;

  &.disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }
}

%icon {
  margin-left: 5px;
}

.clipboard {
  @extend %icon;
}

.check {
  @extend %icon;

  color: $dv-success-color;
}
